{% extends '::base.html.twig' %}

{% block stylesheets %}
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
        body * {
            box-sizing: border-box;
        }
        a {
            display: block;
            text-decoration: none;
        }

        .container {
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 40px;
            padding-top: 40px;
            text-align: center;
            width: 800px;
        }

        .board-container {
            background-color: inherit;
        }
        table {
            background-color: #000;
            border: none;
            border-collapse: collapse;
            margin-left: auto;
            margin-right: auto;
        }
        table td {
            border: none;
            box-sizing: border-box;
            color: #FFFFFF;
            font-size: 8px;
            width: 12px;
            height: 12px;
            min-width: 12px;
            min-height: 12px;
        }
        table td .cell {
            display: block;
            height: 100%;
        }
        table td .active-cell {
            background-color: #2ca02c;
        }
        table td .inactive-cell {
            background-color: transparent;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="board-container container">
        <h1>Awesome Game of Life</h1>
        <table>
            <tbody>
            {% if content %}
                {% for row in content.status %}
                    <tr>
                        {% for column in row %}
                            <td>
                                {% if column == 1 %}
                                    {% set cssClass = 'active' %}
                                {% else %}
                                    {% set cssClass = 'inactive' %}
                                {% endif %}
                                <span class="cell {{ cssClass }}-cell"></span>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            {% else %}
                Error trying to start the game :( Please refresh the page (F5)
            {% endif %}

            </tbody>
        </table>
    </div>

    {% javascripts '@GOLClientBundle/Resources/public/js/main.js' %}
    <script>
        // Refs: https://goo.gl/WMy813
        var ready = function (fn) {
            // Sanity check
            if (typeof fn !== 'function') return;

            // If document is already loaded, run method
            if (document.readyState === 'complete') {
                return fn();
            }

            // Otherwise, wait until document is loaded
            // The document has finished loading and the document has been parsed but sub-resources such as
            // images, stylesheets and frames are still loading. The state indicates that the DOMContentLoaded
            // event has been fired.
            document.addEventListener( 'interactive', fn, false );
        };

        setInterval(function () {
            ready(function() {
                window.location = '/app_dev.php/calculate-next-cycle';
            });
        }, 600)
    </script>
    {% endjavascripts %}
{% endblock %}
